node_modules
cache/
*.bak

# artifacts --------------------------------------------------
artifacts/*
!artifacts/contracts
artifacts/contracts/*
!artifacts/contracts/app
artifacts/contracts/app/*
!artifacts/contracts/privatenet
artifacts/contracts/privatenet/*

!artifacts/contracts/app/App.sol
artifacts/contracts/app/App.sol/App.*.json
!artifacts/contracts/privatenet/DevERC20.sol
artifacts/contracts/privatenet/DevERC20.sol/DevERC20.*.json
!artifacts/contracts/privatenet/DevOracle.sol
artifacts/contracts/privatenet/DevOracle.sol/DevOracle.*.json


# typechain-types --------------------------------------------------
typechain-types/*
!typechain-types/contracts
typechain-types/contracts/*
!typechain-types/contracts/app
typechain-types/contracts/app/*
!typechain-types/contracts/privatenet
typechain-types/contracts/privatenet/*

!typechain-types/common.ts
!typechain-types/contracts/app/App.ts
!typechain-types/contracts/privatenet/DevERC20.ts
!typechain-types/contracts/privatenet/DevOracle.ts
